/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-Nov-2020, 12:53:45
    Author     : fae60
*/

.button {
    display: inline-block;
    background-color: #204f79;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 10px;
    padding: 5px;
    width: 200px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.smlfont{
    font-size: 0.9em;
}

.tabula-datainfo {
    font-size: 0.96em;
    margin-bottom:  0.9em;
    color: #204f79;
}

.tabulaheaderinfo{
    font-size: 0.95em;
}

.tabula-rowHeader{
    font-size: 0.96em;
    margin-bottom: 0.5em;
    color: #204f79;
}

.row-frame {
    border: #439EDE;
    border-width: 1px;    
}

.container-fluid{
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto
}

a:hover{
    text-decoration:none;    
}

.line{
    line-height:0.8em;
}

.button:target {
    background-color: #92b3e8;
}

.btn{
    font-size: 1em;
}
