<head>
    <link rel="stylesheet" type="text/css" href="styles.css" media="screen"/>
</head>

<body>  
       
 <div class="container-fluid">
        <div class="row" >
            <div class="col-sm-12"> {{#closed}}<p class=headerinfo><a href='{{ summaryUrl }}' &nbsp<i class="fa fa-history" style="font-size:20px;color:grey;" ></i></a>&nbsp <b> {{ displaytext }}</b> {{insertword}} <b> {{duedate}} </b> </p>  {{/closed}}
                {{^closed}} 
                {{#imminentdue}}<p class=headerinfo><a href='{{ summaryUrl }}' &nbsp<i class="fa fa-exclamation-triangle" style="font-size:20px;color:black;" ></i></a>&nbsp <b> {{ displaytext }} </b> {{insertword}} <b> {{duedate}} </b> </p> {{/imminentdue}}
                {{^imminentdue}}<p class=headerinfo><a href='{{ summaryUrl }}' &nbsp<i class="fa fa-upload" style="font-size:20px;color:black;" ></i></a>&nbsp <b> {{ displaytext }} </b> {{insertword}} <b> {{duedate}} </b> </p> {{/imminentdue}}
                {{/closed}}
            </div>
        </div>
        {{^expired}}<div class="row line">
            <div class="col-sm-12">
                <p class="datainfo"><em class="headerinfo"> {{opendatelegend}} </em>{{openDate}} </p>
            </div>

        </div>{{/expired}}
        {{^expired}}<p><a href='{{ url }}' class="btn btn-outline-primary btn-sm">Open Tabula to submit your assignment</a> </p> {{/expired}}
 </div>
    <hr>
</body>